{% extends ":Default:layout.html.twig" %}

{% block title %}Création de compte{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Oups !!!</h2>
            </div>
            <div class="col-xs-12">
                <p>Une erreur inconnue est arrivé.</p>
                <p>Nous somme désolés pour ce désagrément...</p>
            </div>

        </div>
    </div>

{% endblock %}
