/* -------------------Sytles personnalisés------------------- */
@font-face {
	font-family: 'SnowtopCaps';
	src: url('../fonts/SnowtopCaps.otf');
}

/* -------------------Styles de base------------------- */
body{
    font-family: 'Merienda', sans-serif;
    font-size: 2rem;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

header {
	max-height: 170px;
}

footer{
	padding-top: 25px;
	padding-bottom: 25px;
    color: whitesmoke;
	background-color: #283349;
}

img{
	max-width: 100%;
}
h1{
    font-size: 6em
}

h2{
    font-size: 5em;
}
h3{
    font-size: 3.5em;
}

h4{
	font-size: 2.5em;
}

h5{
	font-size: 2em;
}

h6{
	font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 .fa{
    font-family: 'SnowtopCaps', sans-serif;
	color: #5d76ab;
}

a, a:visited, a:hover{
    color: whitesmoke;
}

input{
	width: 100%;
}

hr{
	width: 100%;
	border: 1px ridge black;
}

/*-------------Loader----------------*/
/* ALL LOADERS */

.loader{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
}

/* LOADER 7 */

#loader-7{
	-webkit-perspective: 120px;
	-moz-perspective: 120px;
	-ms-perspective: 120px;
	perspective: 120px;
}

#loader-7:before{
	content: "";
	position: absolute;
	left: 25px;
	top: 25px;
	width: 50px;
	height: 50px;
	background-color: #3498db;
	animation: flip 1s infinite;
}

@keyframes flip {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(180deg)  rotateX(180deg);
	}
}

/*----------------------------------*/

#container-secondaire{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.8);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1000;
}

.headerImg{
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#siteTitle{
	align-content: center;
}

#siteTitle > h1{
	color: #F5F5F5;
}

#headerDiv{
	background-image: url("../img/montainBack.png");
	max-height: 170px;
}

#pageContent{
	background-color: rgba(235, 245, 255, 0.8);
	min-height: 700px;
}

.navbar-collapse.collapse{
	display: flex !important;
	border : none;
	height: 100% !important;
}

/* j'écrase bootstrap pour modifier la couleur de fond de l'élément sélectionné du menu*/
.nav{
	background-color: #7897AB;
	border: none;
}

.nav > li >a:hover{
	background-color: #62798d;
}

.navbar-toggle{
	border-color:#62798d;
}

.navbar-header > a {
	display: none;
}

.icon-bar {
	background-color:#62798d;
}

.noPaddingLeft{
	padding-left: 0px;
}

.noPaddingRight{
	padding-right: 0px;
}

.text-justify{
	text-align: justify;
}

.text-right{
	text-align: right;
}

.top10{
	margin-top: 10px;
}

.bottom10{
	margin-bottom: 10px;
}

.next-btn{
	text-align: right;
}

.prev-btn{
	text-align: left;
}

.sort-btn{
	margin-top: 25px;
}

.block{
	display: block;
}

.trick-line:hover{
	background-color: #c9d2db;
}

#user-picture{
	max-width: 100%;
	margin: 20px;
	border: solid 2px #c9d2db;
	box-shadow: 1px 1px 12px #555;
	border-radius: 10px;
}

#add-user-picture-box{
	padding-bottom: 10px;
	margin: 10px 0px 10px 0px;
	border: solid 1px black;
	box-shadow: 1px 1px 12px #555;
}

.group-container{
	border: solid 1px black;
	padding: 20px;
}

.forms-update-group{
	display: none;
}

#addGroup_name{
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}

.noPadding{
	padding: 0px;
}
.search-btn{
	margin-left:-35px;
}

.menu-btn{
	width: 25%;
}

.navbar-collapse, .nav{
	width: 100%;
}

.top-menu{
	margin-top: -1px;
}

.picture{
	max-height: 440px;
}
.labelled-picture{
	max-height: 115px;
}

.media-container{
	background-color: #c1cad3;
}

#list-pictures{
	display: none;
}

.delete-picture-btn{
	padding-left: 15px;
	padding-right: 15px;
}

#video-container{
	display: none;
}

#video-button{
	background-color: #b1b9c1;
}

.figure-button > i{
	color: #333333;
}

.trash, .preview{
	height: 200px;
	margin-bottom: 20px;
}

.picture-preview{
	height: 200px;
}

#pictures-preview{
	margin-bottom: 30px;
}

#pictures-form, #videos-form{
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 12px #555;
	margin: 30px 10px 30px 10px;
	text-align: center;
}

#add_video{
	background-color: #E6E6E6;
	color: #333;
}

iframe{
	width: 100%;
}

textarea{
	width: 100%;
}

#add-video-help{
	display: none;
}

.strong-link{
	color: #333 !important;
	font-weight: bold;
}

#trick_form_uploadPictures > div > label, #trick_form_videos > div > label{
	display: none;
}

.message-container{
	padding: 20px 10px 20px 10px;
	border: 1px solid #333333;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: rgba(230, 233, 237, 0.6)}

.message-text{
	margin-top: 20px;
}
#message-form{
	margin-bottom: 20px;
}

#message-form > form > div > div > .btn, #updateMessage_Envoyer {
	height: 80px;
	border-radius: 0px 5px 5px 0px;
}

#message-form > form > div > textarea, #updateMessage_message{
	height: 80px;
	border-radius: 5px 0px 0px 5px;
	border: 1px #5CB85C solid;
}

.msg-moderate{
	color: #333;
}

#moderate-form{
	display: none;
	text-align: left;
	font-weight: bold;
	margin-bottom: 20px;
}

#updateMessage_message{
	border-color: #C9302C;
	font-weight: initial;
}

#updateMessage_Envoyer{
	border-color: #C9302C;
	background-color: #C9302C;
}

#message_search_form_ok{
	display: none;
}

.message-picture > img{
	border-radius: 5px;
	box-shadow: 1px 1px 12px #3f3f3f;
	border: 1px solid #eee;
}

/* -------------------Carousel------------------- */

.fleche-car{
	height: 50px;
	width: 50px;
	margin-top: 50px;
}

.fleche-gauche{
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

.fleche-droite{
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

.right.carousel-control{
	text-align: right;
}

.left.carousel-control{
	text-align: left;
}

.car-img{
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.car-img > a > .btn{
	border: none;
	z-index: 1000;

}

#author-line{
	margin-top: 20px;
}

#description-line{
	margin-top: 60px;
	margin-bottom: 30px;
}

.trick-stick{
	padding: 20px 10px 20px 10px;
	border: 1px solid #333333;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: rgba(230, 233, 237, 0.6);
	min-height: 710px;
	color: #333;
}

.trick-stick:hover{

	transform: scale(1.1) rotate(5deg);
	background-color: rgb(230, 233, 237);
	z-index: 1000;
	box-shadow: 1px 1px 12px #555;
}

.trick-stick > div > img {
	width: 100%;
}

.trick-stick-desc{
	min-height: 230px;
}

.stick{
	padding: 10px 10px 10px 10px;
}

.stick-thumb{
	min-height: 230px;
}

@media screen and (max-width: 600px) {
	h1{
		font-size: 2em
	}

	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1em;
	}

	h4{
		font-size: 0.8em;
	}

	.navbar-collapse{
		display: none;
	}

	.search-btn{
		margin-left: -70px;
	}

	.sort-btn{
		margin-top: 25px;
	}

	iframe {
		height: 100%;
	}

	#list-videos{
		padding-left: 0px;
		padding-right: 0px;
	}

	.simple-video{
		padding-left: 0px;
		padding-right: 0px;
	}

	#group-name, .fa-pencil, .fa-trash-o {
		font-size: 1em;
	}

    #user_registration_form_picture > div > label{
        display: none;
    }

}

@media screen and (min-width: 600px) and (max-width: 1170px) {
	h1{
		font-size: 4em
	}

	h2{
		font-size: 3em;
	}
	h3{
		font-size: 1.5em;
	}

	h4{
		font-size: 1em;
	}

	.search-btn{
		margin-left: -40px;
	}

	.sort-btn{
		margin-top: 25px;
	}

}
