{% extends ":Default:layout.html.twig" %}

{% block title %}Modification de compte{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                <p>Suite à la suppréssion de votre compte, personne n'aura plus accès à ce dernier. Seuls persisterons les messages que vous aurez pu poster.</p>
                <p>Nous sommes tristes de vous voir partir :( .</p>
                <p>A une prochaine fois peut être...</p>

            </div>
        </div>
    </div>

{% endblock %}
