{% extends ":Default:layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

            <!-- Texte de bienvenue
            ================================================== -->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>Bienvenue</h2>
                </div>
                <div class="col-xs-12 text-justify">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                    </p>
                </div>
            </div>

            <!-- ================================================== -->

            <!-- Search Form
            ================================================== -->
            <div class="row">
                <form action="#" method="get" role="form" class="">


                    <div class="col-xs-11 noPaddingRight top10">
                        <input type="text" class="" name="search" placeholder="Votre recherche ici" value=""/>
                    </div>
                    <div class="col-xs-1 noPaddingLeft top10">
                        <span class="btn btn-info search-btn"><i class="fa fa-search"></i>  Rechercher</span>
                    </div>

                    <div class="col-md-2 col-xs-6 top10 text-center">
                        <label for="number" class="col-xs-12">Par page :</label>
                        <select name="number" id="number" class="col-xs-12">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-md-offset-2 col-xs-6 top10 text-center">
                        <label for="orderBy" class="col-xs-12">Trier par :</label>
                        <select name="orderBy" id="orderBy" class="col-xs-12">
                            <option value="name" selected>Nom</option>
                            <option value="date">Date d'ajout</option>
                            <option value="author">Auteur</option>
                            <option value="group">Groupe</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-xs-6 top10 text-center">
                        <label for="order" class="col-xs-12">Ordre :</label>
                        <select name="order" id="order" class="col-xs-12">
                            <option value="DESC" selected>Descendent</option>
                            <option value="ASC">Ascendent</option>
                        </select>
                    </div>
                    <div class="col-md-1 col-xs-6 top10 text-center">
                        <span class="btn btn-info col-xs-12 sort-btn"><i class="fa fa-sort"></i> Trier</span>
                    </div>

                </form>
            </div>
            <!-- ================================================== -->

            <!-- Tricks list
            ================================================== -->
            <div class="col-xs-12">
                <h3>Voici la liste des figures disponibles :</h3>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>
            <div class="col-xs-12">
                <a href="#"><h4>Figure</h4></a>
            </div>

            <div class="col-xs-12 top10 bottom10">
                <div class="col-xs-3">
                    <span class="btn btn-info prev-btn"><i class="fa fa-arrow-circle-left"></i> Précédent</span>
                </div>
                <div class="col-xs-4 col-xs-offset-1 text-center">
                    Page 1 sur 15
                </div>
                <div class="col-xs-3 col-xs-offset-1 next-btn">
                    <span class="btn btn-info">Suivant <i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>
            <!-- ================================================== -->
{% endblock %}
