
{% block content %}


    <div class="row bottom10">
        <div class="col-xs-12 text-center">
            {% if trick.pictures is empty %}
                <p>Aucune photo n'est encore liée à cette figure.</p>
            {% else %}
            <p>Voici les photos déjà liées à la figure "<a class="strong-link" href="{{ path('SnowtricksCore_Figure', { 'id': trick.id }) }}">{{ trick.title }}</a>" </p>
            <p>Cliquez sur supprimer pour les effacer définitivement.</p>
            {% endif %}
        </div>
        {% for picture in trick.pictures %}
            <div class="col-sm-2 text-center top10 bottom10">
                <div class="col-xs-12"><img src="{{ asset(picture.thumbnailSize) }}" /></div>
                <div class="btn btn-warning del-picture" data-url="{{ path('SnowtricksCore_Pictures_Delete_One', {idPicture: picture.id, idTrick: trick.id}) }}">Supprimer</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
