
{% block content %}


    <div class="row bottom10">
        <div class="col-xs-12 text-center">
            {% if trick.pictures is empty %}
            <p>Aucune vidéo n'est encore liée à cette figure.</p>
            {% else %}
            <p>Voici les vidéos déjà liées à la figure "{{ trick.title }}"</p>
            <p>Cliquez sur supprimer pour les effacer définitivement.</p>
            {% endif %}
        </div>
        {% for video in trick.videos %}
            <div class="col-sm-6 text-center top10 bottom10" id="video-frame-{{ video.id }}">
                <div class="col-xs-12">{{ video.address|raw }}</div>
                <div class="btn btn-warning del-video" data-url="{{ path('SnowtricksCore_Videos_Delete_One', {idVideo: video.id, idTrick: trick.id}) }}">Supprimer</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
