<!DOCTYPE html>
<html>

<body>

    <div class="container">
        <h2>Il semblerait que vous ayez perdu votre mot de passe</h2>
        <p>Nous ne pouvons pas vous re-donner. C'est en ayant pas, nous même accès à vos mots de passes, que nous pouvons vous garantir la meilleure sécurité.</p>
        <p>Par contre, nous pouvons le réinitialiser pour vous. Pour celà il vous suffit de cliquer sur le lien suivant.</p>
        <p><a href="{{ app.request.schemeAndHttpHost }}{{ path('SnowtricksCore_Reset_Password', { 'token': user.checkingToken }) }}">{{ app.request.schemeAndHttpHost }}{{ path('SnowtricksCore_Reset_Password', { 'token': user.checkingToken }) }}</a></p>
        <p>Si le lien ne marche pas, il suffit de copier le lien ci-dessus et de le coller dans ton navigateur.</p>
        <p><strong>P.S.: </strong>Si vous n'êtes pas à l'origine de ce mail, vous n'avez rien à faire, votre mot de passe est toujours en sécurité.</p>
        <p>A tout dessuite :) !!!</p>
    </div>

</body>

</html>
